.visualization_base {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.visualization_container {
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin: 4vh;
    gap: 4vh;
}

.visualization_indicator_container {
    display: flex;
    justify-content: center;
    align-items: end;
}

.visualization_indicator {
    width: 100%;
    height: 0%;
    background-color: var(--c);
}

.visualization_light {
    width: 100%;
    height: 0%;
    box-shadow: 0 0 50vh 0vh var(--c);
}