.visualization_base {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.visualization_container {
    flex: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: row;

    margin: 2vh;
}

.visualization_container_part {
    position: relative;
    width: 15%;
    height: 100%;
}

.visualization_indicator_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;

    border-radius: 2vh;
}

.visualization_indicator {
    width: 100%;
    height: 0%;
    background-color: var(--c);
}

.visualization_light {
    width: 50%;
    height: 0%;
    box-shadow: 0 0 20vh 5vh var(--c);
}