.settings-switch {
    height: 8vh;
    width: 17vh;
}

.settings-slider {
    height: 8vh;
    width: 55%;
}

.settings-line {
    margin: 2vh;
    gap: 4vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.settings-item {
    margin: 2vh;
}

.settings-tab {
    padding: 2vh;
    box-sizing: border-box;
}

.flatpickr-calendar {
    transform-origin: center center;
    transform: scale(var(--calendar-scale));
}