.dock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--dock-size);
    padding: var(--dock-margin) var(--dock-margin);
    gap: var(--dock-margin);
}

.dock-item {
    height: 100%;
    cursor: pointer;
    transition: transform 0.15s ease-in;
}


.dock-item-active {
    transform: scale(1.1) rotate(5deg);
}

.dock-item-hover {
    transform: scale(1.1) translate(0px, -2vh);
}