.dock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    padding: 0px 0.5vh;

    border-radius: 1vh;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.5vh);

    box-shadow: 0 0 0.5vh 0px rgba(0, 0, 0, 0.5);
}

.dock-item {
    margin: 0.5vh;
    height: 80%;
    cursor: pointer;
    transition: transform 0.2s;
}

.dock-item:active {
    transform: scale(1.1);
}