.music-button {
    margin: 1vh;
    width: 14vh;
    height: 14vh;
    flex-shrink: 0;
    pointer-events: auto;
}

.music-relative-container {
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.music-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.music-slider-box {
    margin: 1vh;
    height: 14vh;
    flex-shrink: 0;
    flex: 1;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.music-slider-info-box {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.music-slider {
    flex: 1;
    width: 100%;
}

.music-info {
    margin-top: 1vh;
}

.music-title {
    height: fit-content;
    text-align: center;
    margin-left: 17vh;
    margin-right: 17vh;
}

.music-content {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.music-content-container {
    position: relative;
    margin: 1vh;
    margin-left: 17vh;
    margin-right: 17vh;
    box-sizing: border-box;
    flex: 1;
    align-self: stretch;
}

.music-main-container {
    padding: 1vh;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}